.CalanderDate{
    position: relative;
    opacity: 6;
    background-color: lightgray;
    transition: background-color  1s ease-in-out;
    
}
.CalanderDate:hover{
    background-color: rgb(22, 133, 105);
    color: #fff;
    
}

.CalanderDate p{
   text-align: center;
}
.CalanderDate .add{
    position: absolute;
    right: 5px;
    top: 5px;
    color: rgb(255, 255, 255);
    background-color: rgb(49, 212, 172);
    margin-left: 105px;
    font-weight: 400;
    border: none;
    border-radius: 5%;
    z-index: 3;
}

.info{
    font-size: 0.79rem;
    text-align: left !important;
    padding: 3px 3px;
    line-height: 0.7px;    
    z-index: 2;
    
}

.single{
    padding-bottom: 5px;
    border-bottom: solid 1px gray;
    cursor: pointer;
    z-index: 1;
}

.single a{
    text-decoration: none;
}
.single a:hover{
    color: white;
    text-decoration: none;
}

.bg{
    font-weight: 700;
    line-height: 1;
    color:rgb(255, 255, 255);
    opacity: 0.3;
    font-size: 5em;
    position: absolute;
    top: .2em;
    right: .05em;
    letter-spacing: -.07em;
}



.bg:hover{
    font-weight: 700;
    line-height: 1;
    color:rgb(14, 13, 13);
    opacity: 0;
    font-size: 8em;
    position: absolute;
    transition: .25s ease-out;
    letter-spacing: -.07em;
}

