.Userstyles{
    display: flex;
    flex-wrap: wrap;    
    padding: 20px;
}
.Userstyles > div{
    margin: 6px
}


.User-style-card {
    padding: 12px 20px;
    border-radius: 4px;
    max-width: 242px;
    min-width: 242px;
    background: #fff;
    box-shadow: 6px 8px 15px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}